@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="account" asp-action="logout" asp-antiforgery="true">
        <input type="submit" value="logout" />
    </form>
}

else
{
    <li><a asp-controller="Account" asp-action="Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
}